@import "tailwindcss";

@theme {
  --color-primary: #B88E2F;
  --color-secondary: #FFF3E3;
  --color-grey: #333333;
}

.active {
    color: #B88E2F;
}

/* iPad Pro / Inverted tablets grid layout */
@media screen and (min-width: 1024px) and (max-width: 1366px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
